<section>
  <div >
    <h1 class="title">
      About this Calculator
    </h1>
    <hr>
    <hr>
    <h3>What does this calculator do?</h3>
    <div>
      This calculator is designed to try to maximize monetary value from rewards and credits of various
      credit cards combinations based on average monthly spending.  It can be difficult to decide which is
      the best card or cards for you, and understanding the estimated monetary value for different combinations
      can be helpful in making that decision.
    </div>
    <br>
    <h3>How to use the calculator:</h3>
    <h4>Calculator</h4>
    <div>
      The calculator calculates returns based on average monthly spending, different points evaluations,
      and the desired number of cards for the wallet.  The cashback only option uses only cashback values
      instead of the generally higher point valuations.  Travel points are often considered to be more
      valuable when redeemed for travel than for cashback.  If you don't travel or want to spend the time
      searching and evaluating such currencies, than a cashback only setup might be better for you.  Non
      cashback only setups have the opposite option to evaluate cards whose primary return is cashback, but
      whose rewards can be transferred/upgraded to a travel points currency when paired with specific cards,
      e.g. with some Chase or Capital One cards.
    </div>
    <h4>Results</h4>
    <div>
      The results tables show the total monetary value of the rewards for each of the top 10 highest
      combinations, followed by what that rate of return is for your total spending, and the breaks down
      the result by value added by each card.  This is calculated for one, three, five and ten year time
      periods of using that combination.  The second half of charts show the same thing, but remove the
      impact of sign up bonuses to demonstrate the exact earning rate for the combination of cards.
    </div>
    <h4>Spending Profile</h4>
    <div>
      This is the average monthly spending used to calculate the rewards.  It does not need to be exact,
      but the more accurate it is, the more accurate the calculator is.  Unfortunately, cards with spending
      caps and monthly credits can have accuracy issues because category spending often fluctuates month
      to month.   
    </div>
    <h4>Points Values</h4>
    <div>
      The true value of credit card rewards points varies by individual and situation, and can be hard to
      accurately assess, however, we use rough estimates.  Many people and different websites
      have their own values, but I have chosen the slightly more conservative values from Frequent Miler for
      travel points.  Currently transferrable currencies can only be assigned a generic value, so anyone trying
      to use a specific rewards program (such as a specific airline) needs to adjust for that.  Cashback values
      are straightforward, though some cards allow for multiple avenues, like travel purchase eraser, or gift cards.
      The default cashback values are for statement credit redemptions.  The nontransferable categories
      function like cashback.
    </div>
    <h4>Card Options</h4>
    <div>
      Here you can specifically require all combinations to include certain cards, exclude ones you don't
      want to see and tell the calculator not to include the sign up bonus value for any card.  This is helpful
      when trying to include cards you already have in the evaluation, or ignore ones you know for sure you
      do not want.
    </div>
    <h3>Weaknesses</h3>
    <div>
      The basic weakness of this calculator is that it assumes that every month is exactly the same in terms
      of expenditures.  This is obviously not how life works, and thus actual returns will be different that the
      estimated ones.  Also travel currencies can, and will, change in value over time.  Airlines can devalue points,
      card benefits and such can change, etc, so long term outcomes will not follow the projections.  Lastly, 
      the calculator assumes you can make the sign up bonus spending qualification with no difficulty, but many of
      the large ones require high spending.
    <br>
    <br>
      There are also not monetary reasons to choose certain cards.  Status, insurance/purchase protections,
      and customer service to name a few can all be valid reasons to choose or exclude a card, and none are
      considered in this calculator.  Also, the calculator assumes you will get any card you choose, which is not
      true for most people.
    <br>
    <br>
      Not evaluated are rotating categories on cards since those categories are not posted in advance.  Spending caps
      that apply across multiple categories, and cards with chooseable categories for specific earning rates are also
      not calculated. Also, there are far too many credits available to choose from, and only a few are considered here.
      I believe I've covered most of the best ones, but perhaps not all.
    </div>
  </div>
  <br>
  <br>
</section>
