<nav class="navbar" role="navigation" aria-label="main navigation">
  <a href="/">Calculator</a>
  <a href="/spending_profile">Spending Profile</a>
  <a href="/rewards_values">Rewards Values</a>
</nav>
