<nav class="navbar" role="navigation" aria-label="main navigation">
  <a href="/">Calculator</a>
  |
  <a href="/spending_profile">Spending Profile</a>
  |
  <a href="/points_values">Points Values</a>
  |
  <a href="/card_options">Card Options</a>
</nav>
